
:root {
    --color-1: black;
    --color-2: white;
    --color-3: #3c44fd;
    --color-4: #0155b7;
    --color-5: #002561;
  }

*{
    padding :0;
    margin :0;
    font-family: "poppins", sans-serif;
}



/* Header Start */
.navbar {
    box-shadow: 0 0 5px grey;
    background-color: var(--color-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    text-align: center;
    width: 88%;
    top: 0;
    padding: 10px 20px;
    padding-right: 80px;
    padding-left: 80px;
  }
  
  .logo {
    width: 250px;
  }
  
  .logo a img {
    width: 20%;
  }
  
  .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-3);
    font-size: 28px;
    font-weight: 800;
  }
  
  .navbar ul {
    padding-right: 10px;
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .navbar ul li p {
    font-size: 20px;
  }
  
  .navbar ul li span {
    color: var(--color-3);
  }
  
  .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logout button {
    margin-right: 30px;
    padding: 7px 25px;
    background-color: var(--color-3);
    color: var(--color-2);
    font-size: 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .logout button:hover {
    margin-top: -5px;
  }
  
  .profile a img {
    width: 60%;
  }
  
  .navbar ul  li .fa-circle-chevron-right {
    font-size: 20px;
  }

/* Header End */

/* Content Start */
.selesai {
    height: 100%;
}

.card-selesai {
    width : 750px;
    height : 175px ;
    background-color: #FFFFFF; 
    border-radius: 20px ;
    padding : 20px 40px; 
    box-shadow: 0px 0px 2px rgb(84, 82, 82);
    margin : 200px 225px 90px 225px;
}

.card-content-selesai {
    display :flex;
    padding : 10px;
    align-items: center;
}

.fotopemesanan {
    align-items: center;
    padding-right: 10px;
}

.fotopemesanan img {
    width : 150px;

}

.transmisi {
    display : flex;
    gap : 10px;
    align-items: center;
}

.bagasi {
    display : flex;
    gap : 10px;
    align-items: center;
}

.kursi {
    display : flex;
    gap : 10px;
    align-items: center;
}

.spesifikasikendaraan {
    display : flex;
    gap : 10px
}

.tanggalpemesanan {
    display: flex;
    gap : 10px;
    align-items: center;
}

.detailpemesanan {
    padding : 0px 10px;
}

.detailpemesanan span {
    color: #000;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding : 15px 0px
}

.detailpemesanan p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding : 1px 0px;
}

.statuspemesanan {
   margin-left: 50px;
}


.statuspemesanan p {
    text-align: center;
    padding: 7px 0px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    background-color: #27c424;
    width : 100px;
    border-radius: 5px;
}


.back-to-home-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.back-to-home-btn a {
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    background-color: #3c44fd;
    border-radius: 10px;
}
/* Content End */

/* Footer Start */
.card-footer a img {
    width: 25%;
  }
  
  .card-footer a {
    color: #3c44fd;
    font-size: 50px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
  }
  
  footer {
    background: #002561;
    padding: 30px;
    margin-top: 200px ;
  }
  .card-footer {
    height: 200px;
    background-color: #fdfdfd;
    border-radius: 50px 50px 50px 50px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
  }
  
  .card-content-footer {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-right: 50px;
  }
  
  .card-content-footer h1 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 5px;
    padding-left: 0px;
    
  }
  
  .card-content-footer ul {
    list-style: none;
    align-items: center;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    width: 200px;
  }
  
  .card-content-footer ul li a {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding-left: 15px;
    padding: 0px;
    margin: 0px;
    padding-top: 3px;
  }
  
  .card-content-footer .support {
   padding-bottom: 20px;
  }
/* Footer End */