@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{padding :0;
 margin :0;}

nav.header {display: flex;
    justify-content:space-between;
    padding-left : 10px;
    padding-right: 10px;
    padding-top: 10px;
    box-shadow: 0px 0px 5px black;
}
.profil{width :70px;}
.namaprofil { color: #3C44FD;
    font-family: 'Poppins';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;}

.header ul{list-style: none;
    align-items: center;
    display: flex;
    gap: 20px;
    color: #000;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}

.header  ul li a{color: #000;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;}

nav.cover {
    display: flex;
    align-items: center;
}
.cover-content {
    color: #000;
    font-family: Poppins;
    font-size: 33px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding : 40px;
}
.fotocover img{
    width : 950px;
    height : 750px;
}
nav.destinations {background-image: url(./Images/Background\ Destination.png);
}
nav.destinations h1{text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}
nav.destinations p{
    font-size : 32px;
    font-family: Poppins;
    align-items: justify;
    padding : 30px 100px;
    text-align: center;}

.card-container-destination{display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    grid-template: repeat(auto-fit);
    gap : 40px;
    text-align: center;
    /* background-image: url(./Images/Background\ Destination.png); */
    }

.card-destination{width : flex;
    height: 320px;
    flex-shrink: 0;
    background-color: #FFF;
    box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    overflow :hidden;}
    
.card-destination img{width:100%;
    height: auto}

.card-content-destination{color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    justify-content: center;}

.teamprofil {
    background-image: url(./Images/Background\ profil\ team.png);
}
.card-container-teamprofil {
    display: flex;
    flex-wrap : wrap;
    gap : 40px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin : 50px;
 }   

 .card-teamprofil img {
    width: 350px;
    height : 400px;
 }

 .card-teamprofil {
    box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    /* width: 300px; */
    height: 400px;
    /* border-radius: 90px 5px 90px 5px; */
 }
.card-content-teamprofil {
    width : 350px;
    height : 150px;
    padding : 10px;
    box-sizing: border-box;
    position: absolute;
    /* bottom : 200px; */
    background: rgba(180, 180, 180, 1);
    color : white;
}

.card-content-teamprofil h2{
    font-family: 'poppins';
    font-size: 40px;
    text-align: center;
}
.card-content-teamprofil h3{
    font-family: 'poppins';
    font-size: 20px;
    text-align: center;
}
.card-content-teamprofil h4{
    font-family: 'poppins';
    font-size: 15px;
    text-align: center;
}
.card-content-teamprofil h5{
    font-family: 'poppins';
    font-size: 10px;
    text-align: center;
}
.card-teamprofil:hover {
    cursor: pointer;
}
 .teamprofil h1{text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;}

.teamprofil p{
    font-size : 32px;
    font-family: 'Poppins';
    align-items: justify;
    padding : 30px 100px;
    text-align: center;
}

.teamprofil2 {
    background-image: url(./Images/Background\ profil\ team.png);
}

.card-container-teamprofil2 {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    grid-template: repeat(auto-fit);
    gap :40px;
    text-align : center;

}

.card-teamprofil2 {
    width : 350px;
    height : 600px;
    flex-shrink: 0;
    background-color: #FFF;
    border-radius: 90px 10px 90px 10px;
    box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, 0.25);
    overflow : hidden;
}

.card-teamprofil2 img {
    width : 350px;
    height : 400px;
    border-radius: 90px 10px 0px 10px;
    /* padding : 10px; */
}

.card-content-teamprofil2  h2{
    font-family : 'poppins';
    font-size : 40px;
}

.card-content-teamprofil2  h3{
    font-family : 'poppins';
    font-size : 20px;   
}

.card-content-teamprofil2  h4{
    font-family : 'poppins';
    font-size : 15px;   
}

.card-content-teamprofil2  h5{
    font-family : 'poppins';
    font-size : 10px;   
}

.teamprofil2 h1{text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;}

.teamprofil2 p{
    font-size : 32px;
    font-family: 'Poppins';
    align-items: justify;
    padding : 30px 100px;
    text-align: center;
}

.card-container-clientreview {
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    grid-template : repeat(auto-fit);
    gap :40px;
    text-align: center;
}

.card-clientreview {
    width : 350px;
    height : 470px;
    flex-shrink: 0;
    background-color: #FFF;
    box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius : 50px;
    overflow : hidden;
    border-radius: 98px 10px 90px 10px;

}

.card-clientreview img {
    width : 150px;
    height : 150px;
    border-radius: 250px;
    padding :10px
}

.profilclient {
    background : url(./Images/Backgroun\ Profil\ Client.png);
    height : 300px
}
.profilclient h3{
    font-family : 'poppins';
    font-size: 30px;
    color :#000;
    font-weight: 500;
}
.card-content-clientreview p {
    font-family: 'poppins';
    font-size: 15px;
    padding : 5px;
}

.clientreview h1{text-align: center;
    font-size: 50px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 700;}

.clientreview span{text-align: center;
    font-size: 50px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 700;
    color : #3C44FD}

.clientreview {
    background-color: #ECECEC;
}

.footer h1{
    color: #3C44FD;
    font-family: 'Poppins';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer {background: #002561;
    border-radius: 50px 50px 0px 0px;
    padding: 50px 50px 0px 50px;

}
.card-footer {
    /* width : 500px; */
    height : 250px ;
    background-color: #FDFDFD; 
    border-radius: 50px 50px 0px 0px;
    padding : 20px 40px; 
}

/* .card-content-footer {
    display: flex;
} */